certifi
click
Flask
Flask-Script
Flask-Sockets
flask-cors
gevent
gevent-websocket
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy==1.19.5
pandas
python-dateutil
pytz
scikit-learn
scipy
Werkzeug
six
rpy2==3.5.1
mdlp-discretization
